* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

h1 {
	margin-top: 5px;
	color: darkblue;
	text-align: center;
}

h2 {
	margin-top: 5px;
	color: darkblue;
	text-align: center;
}

p {
	color: darkblue;
	text-align: center;
}

.contenedor {
	padding: 0px;
	margin: auto;
	width: 90%;
	background-color: white;
	border: 5px groove #66cc66;
	border-radius: 10px;
	display:table;
}

.item {
	height: 40px;
	float: right;
	margin-right: 200px;
}

.itemNumero {
	size: 30px;
	color: black;
}

.itemM5 {
	height: 70px;
	padding: 0px 40px;
	margin: 5 px 20 px;
	border-radius: 25%;
	background-color: white;
	cursor: pointer;
	transition: all 250ms linear;
}

.itemM5:hover {
	transform: scale(1.1);
}

.itemM6 {
	height: 50px;
	padding: 5px 10px;
	margin: 10 px 20 px;
	border-radius: 25%;
	background-color: white;
	cursor: pointer;
	transition: all 250ms linear;
}

.itemM6:hover {
	transform: scale(1.1);
}

.itemM7 {
	font-size: 30px;
	font-weight: bold;
	padding:5px 17px;	
	margin: 20 px 30 px;
	border-radius: 50%;
	background-color: white;
	cursor: pointer;
	transition: all 250ms linear;
}

.itemM7:hover {
	transform: scale(1.1);
}

.imgM16 {
	height: 230px;
	padding: 0px;
	margin: 5 px 20 px;
	border-radius: 20px;
}

.itemM16{
	margin: 10px;
	border-color: black;
	border-style: solid;
	border-radius: 20px;
}

.itemM21{
	margin: 10px;
	border-radius: 20px;
	cursor: pointer;
	transition: all 250ms linear;
}

.itemM21:hover {
	transform: scale(1.1);
}

.itemM16 h4{
	margin-bottom:10px;
	font-family:cursive;
	}

.inputM16{
	padding: 10px;
}

.cuerpoItem{
	padding-bottom:10px;
}
.itemM18 h3{
	margin-bottom:10px;
	margin-left: 10px;
	font-family:cursive;
	padding: 5px;
	}
	

.filaPanelJuegom18 {
	display: flex;
	overflow: hidden;
	z-index: 0;
	float: left;
	margin-left: 40%;
	margin-top: 15px;
	margin-bottom: 5px;
}

.filaPanelJuegom19 {
	display: flex;
	overflow: hidden;
	z-index: 0;
	float: left;
	margin-left: 40%;
	margin-top: 8px;
	margin-bottom: 3px;
}

.filaPanelJuegom20 {
	display: flex;
	overflow: hidden;
	z-index: 0;
	width: 100%;
	float: left;
	margin-left: 10%;
	margin-top: 8px;
	margin-bottom: 3px;
}
.panelJuego {
	padding: 20px;
	float: left;
	text-align: center;
}

.panelJuegoM5 {
	text-align: center;
	margin: auto;
}

.filaPanelJuego {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	z-index: 0;
	front-weight: 700;
	float: left;
}

.columPanelJuegom20{
	padding: 30px 0px;
	margin: auto;
	width: 50%;
	display:table;
	float: left;
}

.errorX{
	font-size: 20px;
	padding: 5px;
	color:red;
}
.pointer {
	background-color: white;
	height: 30px;
	margin-top: 10px;
	border-bottom: 0px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;
}

.logo {
	float: left;
	height: 100px;
	line-height: 100px;
}

header nav {
	float: right;
	line-height: 100px;
}

header nav a {
	display: inline-block;
	text-decoration: none;
	color: darkblue;
	padding: 10px 20px;
	line-height: normal;
	font-size: 20px;
	font-weight: bold;
	-webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

header nav a:hover {
	background: rgba(255, 255, 0);
	border-radius: 50px;
	color: #4f7500;
}

header {
	background-image: radial-gradient(circle at 50% -20.71%, #fff56b 0, #fff866 6.25%, #fdfa63
		12.5%, #e7fb61 18.75%, #d0fb62 25%, #b5fa65 31.25%, #97f86a 37.5%,
		#73f670 43.75%, #3cf278 50%, #00ee82 56.25%, #00ea8f 62.5%, #00e69d
		68.75%, #00e2ad 75%, #00dfbe 81.25%, #00dbd1 87.5%, #00d8e3 93.75%,
		#00d6f6 100%);
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}

.wrapper {
	width: 80%;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
}

.tituloContenido {
	margin: 15px 0;
}

.indicaciones {
	color: #454545;
	font-size: 20px;
}

.talleresFila {
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	z-index: 0;
	front-weight: 700;
	float: left;
}

.button {
	width: 200px;
	border-radius: 15px;
	background-color: transparent;
	color: darkblue;
	font-size: 18px;
	cursor: pointer;
}

.icon a {
	text-decoration: none;
}

.icon span {
	font-size: 50px;
	color: darkblue;
	display: block;
	padding: 5px 0;
	transition: all 500ms linear;
}

.contenedorBotonTaller {
	padding: 10px 60px;
	font-size: 13px;
	color: #6f6e6e;
}

.icon span:hover {
	color: #black;
	transform: scale(1.1);
}

.button a {
	color: darkblue;
	display: block;
	margin: 15px 0;
	transition: all 500ms linear;
	text-decoration: none;
}

.button a:hover {
	color: #black;
	transform: scale(1.1);
}

.indiceContenido {
	padding: 0px;
	margin: auto;
	text-align: center;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog>div {
	width: 300px;
	height: 220px;
	position: relative;
	text-align: center;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

.linePoint {
	padding: 5px;
}

.linePoint2 {
	padding: 5px;
	color: red;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
	background: #00d9ff;
}

.modalButton {
	position: absolute;
	text-align: center;
	bottom: 10px;
	width: 300px;
}

.next {
	background: #606061;
	color: #FFFFFF;
	padding: 5px 10px;
	margin: 0px 10px;
	line-height: 25px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.next:hover {
	background: #00d9ff;
}