@font-face {
  font-family: 'IconosMG';
  src:  url('IconosMG.eot?lkcnls');
  src:  url('IconosMG.eot?lkcnls#iefix') format('embedded-opentype'),
    url('IconosMG.ttf?lkcnls') format('truetype'),
    url('IconosMG.woff?lkcnls') format('woff'),
    url('IconosMG.svg?lkcnls#IconosMG') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'IconosMG' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icono-01:before {
  content: "\e900";
  color: #1b1464;
}
.icon-icono-02:before {
  content: "\e901";
  color: #1b1464;
}
.icon-icono-03:before {
  content: "\e902";
  color: #1b1464;
}
.icon-icono-04:before {
  content: "\e903";
  color: #1b1464;
}
.icon-icono-05:before {
  content: "\e904";
  color: #1b1464;
}
.icon-icono-06:before {
  content: "\e905";
  color: #1b1464;
}
